html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: url('https://static.wixstatic.com/media/128120_d716ee8e434e439c820e824c2e46c7db~mv2.jpg/v1/fill/w_454,h_341,fp_0.50_0.50,q_90,enc_auto/128120_d716ee8e434e439c820e824c2e46c7db~mv2.jpg') center / cover no-repeat;
    backdrop-filter: blur(10px);
}

.menu {
    max-width: 90%;
    margin: 2rem auto;
    padding: 2rem 3rem;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 0px 25px #222;
    color: black;
    border: 3px solid #fff;
}

.container {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background: transparent;

    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 25px;
    font-style: normal;
}

.container .lema {
    flex: 1 1 auto;
    color: #000080;
}

.cont {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.card {
    border: none;
    margin: 1rem auto;
    text-align: center;
    max-width: 300px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 25px;
    font-style: normal;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: auto;
    object-fit: contain;
    z-index: 1;
}

.footer-custom {
    background-color: rgba(35, 55, 109, 1);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.footer-custom a {
    color: white;
    text-decoration: none;
}

.footer-custom a:hover {
    text-decoration: underline;
}
