/* General */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    height: 100vh;
    background: url('https://static.wixstatic.com/media/128120_d716ee8e434e439c820e824c2e46c7db~mv2.jpg/v1/fill/w_454,h_341,fp_0.50_0.50,q_90,enc_auto/128120_d716ee8e434e439c820e824c2e46c7db~mv2.jpg') center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

/* Menú */
.menu {
    background-color: white;
    padding: 2rem 3rem;
    box-shadow: 0px 0px 25px #222;
    color: black;
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    border: 3px solid #fff;
}

/* Contenedor principal */
.container {
    background-color: transparent;
    color: #000080;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.container .lema {
    flex: 1;
}

/* Contenido general */
.cont {
    font-family: rubik-medium, sans-serif;
    background-color: white;
}

.card {
    border: none; /* Quitar bordes adicionales */
    margin: 0 auto; /* Centrar las tarjetas */
    width: auto; /* Ajustar ancho automáticamente */
    text-align: center;
}

/* Footer */
.footer-custom {
    font-family: system-ui;
    background-color: rgba(35, 55, 109, 1);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer-custom a {
    font-family: rubik-medium, sans-serif;
    color: white;
    text-decoration: none;
}

.footer-custom a:hover {
    text-decoration: underline;
}
